.slick-next {
    right: 25px;
}
.slick-prev {
    left: 25px;
}

.slick-next,
.slick-prev {
  z-index: 99;
}

.tech-facts-slider .slick-slide {
    margin: 0px 5px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
  margin: 0px 20px;
}
.slick-active,
.slick-current {
  opacity: 1;
}

/*Careers page slider*/

.go-jek-slider .slick-slide {
    margin: 0px;
}

.go-jek-slider .slick-active {
	opacity: 0.2;
}
.go-jek-slider .slick-current {
	opacity: 1;
}
.slick-current {
  opacity: 1;
}