/* Common Styles */
@font-face {
    font-family: NeoSansBold;
    src: url('../fonts/NeoSans-Bold.otf');
}

@font-face {
    font-family: NeoSansLight;
    src: url('../fonts/NeoSans-Light.otf');
}

@font-face {
    font-family: NeoSans;
    src: url('../fonts/NeoSans.otf');
}

body {
    font-family: "Roboto", sans-serif;
    color: #a5a5a5;
    letter-spacing: normal;
}

.bg-black {
    background-color: #000000;
}

.display-4,
.h1,
.h2,
.card-title {
    color: #000;
    font-family: "NeoSansBold", sans-serif;
}

.font-xs {
    font-size: 0.94rem;
}

.font-sm {
    font-size: 1.125rem;
}

.font-md {
    font-size: 1.31rem;
}

.font-lg {
    font-size: 1.5rem;
}

.font-xl {
    font-size: 2.2rem;
}

/* h1.section-head-text {
  font-size: 3.75rem;
}

h2.section-head-text {
  font-size: 2.6rem;
} */

.bg-101 {
    background-image: url(../img/101@2x.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.green-bg {
    background-color: #009944;
}

/*.principles-card img,*/
.opensource-card img,
.tech-stack img {
    max-width: 132px;
}

.display-4 {
    font-size: 3.75rem;
}

.neosans-bold {
    font-family: "NeoSansBold", sans-serif;
}

.neosans-light {
    font-family: "NeoSansLight", sans-serif;
}

.font-neosans {
    font-family: "NeoSans", sans-serif;
}

.apply-btn {
    border-radius: 1.8rem;
}
.apply-btn:hover {
    background-color: transparent;
}

.text-green {
    color: #009944;
}

.font-bold {
    font-weight: 900;
}

.bg-green {
    background-color: #009944;
}

footer a,
footer a:hover {
    color: #fff;
    text-decoration: none;
}
.text-opacity {
    opacity: 0.5;
}

/* Header Styles */
.navbar {
    padding: .5rem 1.9rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #9a9a9a !important;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #8dc63f !important;
}

li.nav-item {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
li.list-inline-item a { 
    letter-spacing: 1.3rem;
    font-size: 1.3rem;
}
.copyright-text {
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}

/* Slider Styles*/
#go-jek-slider .carousel-item .carousel-caption {
    top: 20%;
}

#go-jek-slider .carousel-indicators {
    top: 60%;
}

#go-jek-slider .carousel-btn {
    top: 70%;
    font-family: "NeoSansBold";
    z-index: 99;
}
.carousel-btn .btn {
    padding-top: 1px;
    padding-bottom: 1px;
    letter-spacing: 1.5px;
}

#go-jek-slider .carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #fff;
}
#go-jek-slider .carousel-indicators li.active {
    background-color: #009944;
}
.all-positions-btn {
    border: 1px solid #fff;
}

/*Go-Jek facts*/
.light-green-bg {
    background-color: #8dc63f;
}
.dark-green-bg {
    background-color: #040404;
}
.order-bg {
    background-color: #086c35;
}
.gray-bg {
    background-color: #f2f2f2;
}
.text-gray {
    color: #686868;
}

/*Careers Page styles*/

.background-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 37.2rem;
}
.careers-banner {
    background-image: url(../img/careers-banner-1.png);
    
}
.go-jek-work {
    background-image: url(../img/go-jek-work.png);
}
.text-black {
    color: #000;
}
.open-positions-card {
    padding-bottom: 0;
}
.careers-banner-text { 
    font-size: 3rem;
}
.opensource-card {
    border-radius: 1rem;
}